$white: #ffffff;
$black: #000000;

$grey-1: #f3f4f6;
$grey-3: #d1d5db;
$grey-5: #6b7280;
$grey-7: #1f2937;

$red-1: #fee2e2;
$red-3: #fca5a5;
$red-5: #ef4444;

$green-1: #d1fae5;
$green-3: #6ee7b7;
$green-5: #10b981;

$blue-1: #dbeafe;
$blue-3: #93c5fd;
$blue-5: #3b82f6;

$orange-1: #ffedd5;
$orange-3: #fb923c;
$orange-5: #f97316;
